.loading {
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999999999; }
.loading p {
  display: inline-block;
  padding: 10px 20px;
  background: #d58512;
  color: #fff;
  font-size: 14px; }